
html, body {
	height: 100%;
	width: 100%;
	min-height: 100%;
	background-color: #fcf7f2;
	color: black;
	font-family: Montserrat, sans-serif;
}

.options {
	width: 80vw;
	height: 10vh;
	padding-top: 5vh;
	padding-bottom: 5vh;
	display: block;
/*	clear: all;
*/	margin: auto;
}

.list {
	width: 38vw;
	height: 100%;
	display: inline-block;
	margin-right: auto;
	margin-left: auto;
	background-color: #e0dbd6;
	color: #666666;
	font-size: 3vmin;
	font-family: Montserrat, sans-serif;
	font-weight: bold;
	text-transform: capitalize;
	text-align: center;
	border: 0px solid #e0dbd6;
	border-radius: 5px;
}

.budget_list {
	margin-right: 3vw;
}

.about_spending {
	font-family: Montserrat, sans-serif;
	font-size: 5vmin;
	font-weight: bold;
	color: #d2cdc8;
	text-align: center;
	display: block;
	line-height: 1.25em;
	padding-bottom: 5vh;
	margin-right: auto;
	margin-left: auto;
	width: 80vw;
	height: 15vh;
}

.chart {
	display: block;
/*	background-color: lightgreen;
*/	width: 100vw;
	height: 60vh;
}

/*.factoids {
	font-family: Montserrat, sans-serif;
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: 80vw;
}
*/
.amount {
	color: #8e7cc3;
}

select:required:invalid {
  color: gray;
  font-weight: lighter;
}
