---
---

@import "{{ site.theme }}";

.page-header {
  background-color: #97c1a1;
  background-image: none;
}

.main-content h1, .main-content h2, .main-content h3 {
  font-family: Montserrat, sans-serif;
  color: #4F7458;
}

.main-content h1 {
  font-weight: bold;
}
